<h1>Samples of work</h1>
<p class="lede">Click or tap any image to read about the project or see a larger image.</p>

<ul class="cards">

	<% for(var slug in public.work._data) { %>
		<% var work = public.work._data[slug]; %>
		<li>

			<figure class="card">
				<% if( work.hasPost == true ) { %>
					<a href="/work/<%- slug %>.html" title="read more">
						<img src="<%- work.thumbnail %>" alt="" data-large-image="<%- work.largeImg %>">
					</a>
				<% } else { %>
					<span><img src="<%- work.thumbnail %>" alt="" data-mfp-src="<%- work.largeImg %>" class="trigger-popup-img"></span>
				<% } %>
				<figcaption>
					<% if( work.hasPost == true ) { %>
						<a href="/work/<%- slug %>.html"><%- work.title %></a>
					<% } else { %>
						<%- work.title %>
					<% } %>
				</figcaption>
			</figure>
		</li>
	<% }; %>

</ul>
